APP_NAME=LinguaCafe
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=linguacafe_fsrs
DB_USERNAME=root
DB_PASSWORD=请在本机填写自己的数据库密码

CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
